/* ——————————————————————————
 * main
/* —————————————————————————— */

.mo_display {display:none !important;}
/* main_visual */
/* .main_visual{position:relative;z-index:0; margin-top:90px; background-repeat: no-repeat; background-size:cover; background-position:bottom;background-image: -webkit-linear-gradient(-45deg, #1360ff 20%, #f54a5a 60%) !important;
  background-image: linear-gradient(-45deg,  #1360ff 20%, #f54a5a 60%) !important;} */
  .main_visual{position:relative;z-index:0; background-repeat: no-repeat; background-size:cover; background-position:bottom; max-width: 1920px; margin: 0 auto;}

.main_visual .dots{position:absolute;left:0;right:0;bottom:35px;font-size:0;line-height:0;text-align:center}
.main_visual .dots li{display:inline-block}
.main_visual .dots li button{width:8px;height:8px;border-radius:50%;text-indent:-99999em;background:#fff;margin:0 4px;opacity:0.5;filter: alpha(opacity=50);-moz-opacity:0.5}
.main_visual .dots li.slick-active button{opacity:1;filter: alpha(opacity=100);-moz-opacity:1}
.main_visual .slick-arrow{display:inline-block;width:44px;height:120px;text-indent:-99999em;overflow:hidden;position:absolute;top:50%;margin-top:-55px;z-index:10}
.main_visual .slick-prev{left:0;background:url("../img/slider_arr_l.png")}
.main_visual .slick-next{right:0;background:url("../img/slider_arr_r.png")}
.main_visual .item{height:800px;position:relative}
.main_visual .item.slide1 .bg{position:absolute;top:0;left:0;right:0;bottom:0;background-position:center center;-webkit-background-size:cover !important;background-size:cover !important;background-repeat:no-repeat;z-index:1}
.main_visual .item.slide1 .bg>a{position:absolute;left:0;right:0;bottom:0;top:0;z-index:10}
.main_visual .item.slide1 .inner{line-height:460px;text-align:right;z-index:10; padding-right:55px;}
.main_visual .item.slide1 .txtBox{display:inline-block;line-height:1.5;color:#ffffff;vertical-align:middle; text-align:left;}
.main_visual .item.slide1 .txtBox span,
.main_visual .item.slide1 .txtBox h3,
.main_visual .item.slide1 .txtBox p{}
.main_visual .item.slide1 .txtBox span{position:relative;display:inline-block;font-weight:700;letter-spacing:0.1em;padding-bottom:2px;letter-spacing: 0.5px;}
/* .main_visual .item.slide1 .txtBox span:before {content:'';display:block; position:absolute; top:-8px;left:0;right:0; margin:0 auto; background:#fff; width:6px;height:6px; border-radius:100%;} */
.main_visual .item.slide1 .txtBox h3{font-size:65px;line-height:70px;font-weight:700; margin:20px 0 30px;}
.main_visual .item.slide1 .txtBox p.sm_font {font-size:22px;}
.main_visual .item.slide1 .txtBox h3 em{font-weight:300}
.main_visual .item.slide1 .txtBox p{font-size:24px;color:#ffffff; font-weight:600;}
.main_visual .item.slide1 .txtBox a.btn{margin-top:30px}
.main_visual .item.slide1 .txtBox span {color:#fff68d}
.main_visual .item.slide1 .imgBox {display:inline-block; line-height:1.5;vertical-align: bottom;}

.main_visual .item.slide1 .bg>a{position:absolute;left:0;right:0;bottom:0;top:0;z-index:10}
.main_visual .item.slide1 .inner{line-height:800px;text-align:left;z-index:10; padding-right:55px;}

/* 슬라이드 배너 타입2 */
/* .main_visual .item.slide2 {background:linear-gradient(#79a5ff, #1360ff);} */
.main_visual .item.slide2 .bg{position:absolute;top:0;left:0;right:0;bottom:0;background-position:center center;-webkit-background-size:cover !important;background-size:cover !important;background-repeat:no-repeat;z-index:1}
.main_visual .item.slide2 .bg>a{position:absolute;left:0;right:0;bottom:0;top:0;z-index:10}
.main_visual .item.slide2 .inner{line-height:800px;text-align:right;z-index:10; padding-right:55px;}


.main_visual .item.slide2 .txtBox{display:inline-block;line-height:1.5;color:#fff;vertical-align:middle; text-align:center;}
.main_visual .item.slide2 .txtBox span,
.main_visual .item.slide2 .txtBox h3,
.main_visual .item.slide2 .txtBox p{}
.main_visual .item.slide2 .txtBox span{position:relative;display:inline-block;font-weight:700;letter-spacing:0.1em;padding-bottom:2px;letter-spacing: 0.5px;}
.main_visual .item.slide2 .txtBox span:before {content:'';display:block; position:absolute; top:-8px;left:0;right:0; margin:0 auto; background:#fff; width:6px;height:6px; border-radius:100%;}
.main_visual .item.slide2 .txtBox h3{font-size:65px;line-height:70px;font-weight:700; margin:20px 0 30px; color:#000000;}
.main_visual .item.slide2 .txtBox p.sm_font {font-size:22px;}
.main_visual .item.slide2 .txtBox h3 em{font-weight:300}
.main_visual .item.slide2 .txtBox p{font-size:30px;color:#333333;}
.main_visual .item.slide2 .txtBox a.btn{margin-top:30px}
.main_visual .item.slide2 .imgBox {display:inline-block; line-height:1.5;vertical-align: bottom;}

.bottom_deco {position:relative;}
.bottom_deco:after {content:'';display:block; position:absolute; bottom:-5px;right:0;width:40px; height:3px; background:#ffffff;}
/* text animation */
/* .main_visual .item .imgBox img,
.main_visual .item .txtBox span,
.main_visual .item .txtBox a.btn,
.main_visual .item .txtBox h3,
.main_visual .item .txtBox p{transform:translate(0px,40px);-webkit-transform:all 1s cubic-bezier(0.390,0.575,0.565,1.000);transition:all 1s cubic-bezier(0.390,0.575,0.565,1.000);opacity:0}
.main_visual .slick-active .imgBox img,
.main_visual .slick-active .txtBox span,
.main_visual .slick-active .txtBox a.btn,
.main_visual .slick-active .txtBox h3,
.main_visual .slick-active .txtBox p{transition-delay:0.1s;-webkit-transform:translate(0px,0px);transform:translate(0px,0px);opacity:1}
.main_visual .slick-active .txtBox p{transition-delay:0.4s}
.main_visual .slick-active .txtBox a.btn{transition-delay:0.7s}
*/
.main_visual .imgBox {margin-left:70px;}
.main_visual .imgBox img {width:100%;}



/* main_lst_notice */
.main_lst_notice{height:30px;overflow:hidden}
.main_lst_notice .slick-arrow{width:26px;height:26px;display:inline-block;position:absolute;top:2px;right:0;background:url("../img/ico_lst_notice.png") 0 0;-webkit-background-size:26px 52px !important;background-size:26px 52px !important;text-indent:-99999em;overflow:hidden;z-index:10;}
.main_lst_notice .slick-prev{right:30px}
.main_lst_notice .slick-next{background-position:0 100%}
.main_lst_notice ul li.no_post{font-size:16px;line-height:30px;color:#999}
.main_lst_notice ul li a{display:block;font-size:12px;line-height:30px;color:#666}
.main_lst_notice ul li a span{display:inline-block}
.main_lst_notice ul li a .date{position:relative;color:#999;letter-spacing:-0.025em;margin-left:16px;padding-left:16px}
.main_lst_notice ul li a .date:before{content:'';width:1px;background:#ddd;position:absolute;left:0;top:8px;bottom:8px}

/* mBox */
#main_notice.mBox {border-radius:50px;}
.mBox{position:relative;overflow:hidden;background:#fff;box-shadow:0 1px 5px 0 rgba(0,0,0,0.08); border-radius:20px; padding:30px;}
.mBox .main_tit{position:relative;z-index:10;}
.mBox .main_tit h3{display:inline-block;font-size:18px;line-height:20px;font-weight:500;color:#222}
.mBox .sec_tit .btn_more{width:18px;height:18px;display:inline-block;text-indent:-999999em;overflow:hidden;border:1px solid #e8e8e8;border-radius:2px;background:url("../img/ico_more.png") no-repeat 50% 50%;-webkit-background-size:10px 10px;background-size:10px 10px;position:absolute;right:0;top:50%;margin-top:-15px}
.mBox .sec_tit .btn_more:hover{background-image:url("../img/ico_more2.png");border-color:#555}
.mBox .box_cont{position:relative;z-index:1}

.main_exchange .list_txt {}

/* sec_cont */
.index .sec_cont>ul{margin:0 -10px}
.index .sec_cont>ul>li{float:left;padding:0 10px}
.index .sec_cont>ul>li#main_realtime{width:66.666666%}
.index .sec_cont>ul>li#main_faq{width:33.333333%}
.index .sec_cont>ul.point li{width:25%; border-right:2px solid #d3d3d3;}
.index .sec_cont>ul.point li:last-child {border-right:none;}

/* main_1 */
.section#main_1{background:#f2f2f2;border-top:0;padding:55px 0 30px 0;}
#main_1 .sec_cont ul.point{}

#main_1 .sec_cont ul li.ani{-webkit-transform:translateY(0);transform:translateY(0);opacity:1;filter: alpha(opacity=100);-moz-opacity:1}
#main_1 .sec_cont ul li dl{position:relative;border-radius:100px;text-align:center;z-index:10}
#main_1 .sec_cont ul li dl:before{content:'';width:50px;height:50px;display:inline-block;background:url("../img/ico_point.png") no-repeat 0 0;-webkit-background-size:50px 198px;background-size:50px 198px}
#main_1 .sec_cont ul li.p_2 dl:before{background-position:0 -49px}
#main_1 .sec_cont ul li.p_4 dl:before{background-position:0 -150px}
#main_1 .sec_cont ul li.p_3 dl:before{background-position:0 -99px}
#main_1 .sec_cont ul li dt{margin-top:5px}
#main_1 .sec_cont ul li dt span{display:inline-block;font-size:10px;color:#bbb;font-weight:700;letter-spacing:0}
#main_1 .sec_cont ul li dt strong{position:relative;display:block;font-weight:700;font-size:16px;letter-spacing:-0.05em;white-space:nowrap}
#main_1 .sec_cont ul li dd{font-size:16px;margin-top:12px;color:#777}

/* main_2 */
.section#main_2{border-top:0;padding:0;}
.section#main_2 .mBox .box_cont{height:402px;overflow:hidden}

#main_notice{padding:9px 24px 9px 106px;margin-bottom:20px; position:absolute;z-index:999;top:-25px; width:100%;}
#main_notice h3{position:absolute;top:16px;left:24px}
#main_notice h3 a{display:block;font-size:14px;line-height:16px;font-weight:700;color:#000}
#main_notice h3 a span{display:inline-block; color:#333;}

#main_realtime .box_cont thead tr th {font-weight: 700; padding: 14px 16px;font-size:13px;color:#a9a9a9;letter-spacing:-0.01em;border-bottom: 1px solid #ddd;}
#main_realtime .box_cont thead tr th:last-child {text-align:right;}
#main_realtime .box_cont ul li p{display:table-cell;position:relative;vertical-align:middle;text-align:center;white-space:nowrap}

#main_realtime .box_cont tbody tr td {padding: 14px 16px;font-size:12px;color:#222;letter-spacing:-0.01em;line-height:24px;}
#main_realtime .box_cont tbody .info .voucher:before {content:'';width:1px;height:14px; position:absolute;left:0;top:50%;margin-top:-7px;  background:#e2e2e2;}
#main_realtime .box_cont tbody .info .voucher {padding-left:12px;}
#main_realtime .box_cont tbody .info .voucher i {display:inline-block;width:20px;height:20px; background-repeat:no-repeat; -webkit-background-size:100% 100% !important; background-size:100% 100% !important; vertical-align:middle;}
#main_realtime .box_cont tbody .info .voucher i.voucher_c {background-image:url("../img/ico_voucher_c.png");}
#main_realtime .box_cont tbody .info .voucher i.voucher_h {background-image:url("../img/ico_voucher_h.png");}

#main_realtime .box_cont tbody .time_total {font-weight:700; text-align:right;padding-left:0;}
#main_realtime .box_cont tbody .time_last, #main_realtime .box_cont tbody .time_start {color:#777;}


#main_realtime .box_cont tbody .info .date {color:#999;}
#main_realtime .box_cont tbody .info span.date {margin-left:0;}
#main_realtime .box_cont tbody .info span {position:relative; display:inline-block;float:left; margin-left:12px;}
#main_realtime .box_cont tbody .info .user {width:36px; white-space:nowrap;overflow:hidden;}


#main_realtime .box_cont tbody .time_total .state {font-size:12px; line-height:24px; background:linear-gradient(-45deg, #4784e2 50%, #79a3f5 50%) !important; color:#fff; padding:0 6px; border-radius:2px; margin-left:10px; min-width:56px; text-align:center; padding:5px; font-weight:500;}

#main_realtime .box_cont ul li{position:relative;display:table;table-layout:fixed;width:100%;padding:14px 16px;font-size:12px;color:#222;letter-spacing:-0.01em}
#main_realtime .box_cont ul li p{display:table-cell;position:relative;vertical-align:middle;text-align:center;white-space:nowrap}

#main_realtime .box_cont ul.thead{}
#main_realtime .box_cont ul.thead li{padding:10px 24px 8px;font-size:13px;font-weight:700;color:#a9a9a9;border-bottom:1px solid #ddd}
#main_realtime .box_cont ul.tbody li:nth-child(odd){}

#main_realtime .box_cont .tbody .info{overflow:hidden}
#main_realtime .box_cont .tbody .info span{position:relative;display:inline-block;float:left;margin-left:12px}
#main_realtime .box_cont .tbody .info span.date{margin-left:0}
#main_realtime .box_cont .tbody .info .date{color:#999}
#main_realtime .box_cont .tbody .info .user{width:36px;white-space:nowrap;overflow:hidden}
#main_realtime .box_cont .tbody .info .voucher{padding-left:12px}
#main_realtime .box_cont .tbody .info .voucher:before{content:'';width:1px;height:14px;position:absolute;left:0;top:50%;margin-top:-7px;background:#e2e2e2}
#main_realtime .box_cont .tbody .info .voucher i{display:inline-block;width:20px;height:20px;background-repeat:no-repeat;-webkit-background-size:100% 100% !important;background-size:100% 100% !important;vertical-align:middle}
#main_realtime .box_cont .tbody .info .voucher i.voucher_c{background-image:url("../img/ico_voucher_c.png")}
#main_realtime .box_cont .tbody .info .voucher i.voucher_h{background-image:url("../img/ico_voucher_h.png")}
#main_realtime .box_cont .tbody .info .voucher i.voucher_f{background-image:url("../img/ico_voucher_f.png")}
#main_realtime .box_cont .tbody .info .voucher i.voucher_d{background-image:url("../img/ico_voucher_d.png")}
#main_realtime .box_cont .tbody .info .voucher i.voucher_{background-image:url("../img/ico_voucher_.png")}
#main_realtime .box_cont .tbody .info .price{margin-left:8px}
#main_realtime .box_cont .tbody .time_last,
#main_realtime .box_cont .tbody .time_start{color:#777}
#main_realtime .box_cont .tbody .time_total span{display:inline-block;vertical-align:middle;position:relative;z-index:10}
#main_realtime .box_cont .tbody .time_total .time{font-weight:700}
#main_realtime .box_cont .tbody .time_total .state{font-size:12px;line-height:24px;color:#fff;padding:0 6px;border-radius:2px;margin-left:10px;min-width: 56px;text-align: center;}
#main_realtime .box_cont .tbody .time_total .state.comp{background:#222; width:80px;text-align: center;}


/* status color */
.success { background: linear-gradient(-45deg, #79a5ff 50%, #1360ff 50%) !important; font-size:12px;line-height:24px;color:#fff;padding:0 6px;border-radius:2px;margin-left:10px;min-width: 56px;text-align: center;}
.fail { background: linear-gradient(-45deg, #ababab 50%, #c9c9c9 50%) !important; font-size:12px;line-height:24px;color:#fff;padding:0 6px;border-radius:2px;margin-left:10px;min-width: 56px;text-align: center;}
.standby {background: linear-gradient(-45deg, #89cb3e 50%, #9edb7c 50%) !important; font-size:12px;line-height:24px;color:#fff;padding:0 6px;border-radius:2px;margin-left:10px;min-width: 56px;text-align: center;}

#main_faq .box_cont ul{margin-top:3px}
#main_faq .box_cont ul li{border-top:1px solid #eee}
#main_faq .box_cont ul li:first-child{border-top:0}
#main_faq .box_cont ul li.empty_li{width:100%;height:402px;line-height:402px;display:table;text-align:center;border-top:0}
#main_faq .box_cont ul li.empty_li p{display:table-cell;line-height:1.5;vertical-align:middle;font-size:20px;color:#bbb}
#main_faq .box_cont ul li a{position:relative;display:block;font-size:12px;line-height:20px;padding:18px 0 18px 36px}
#main_faq .box_cont ul li a:hover{font-weight:700}
#main_faq .box_cont ul li a span{width:26px;height:26px;line-height:26px;display:inline-block;background:#e4e4e4;color:#777;text-align:center;border-radius:50%;font-size:14px;font-weight:700;position:absolute;top:50%;left:0;margin-top:-13px}
#main_faq .box_cont ul li a p{max-width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}

/* main_3 */
.section#main_3{border-top:0;padding:70px 0 40px;background:#eff4ff;margin-top:30px;}
#main_3 .sec_cont .btn_wrap{position:absolute;top:50%;right:0;margin-top:-26px}
#main_3 .sec_cont .btn_wrap a.btn{margin:0 5px}


/* ——————————————————————————
 * exchange
/* —————————————————————————— */
.main_ico {background:#f7f7f7; width:50px; height:50px; border-radius:20px; text-align:center; line-height:50px; margin-right:10px;}
.main_ico img {vertical-align: middle;}
.guide_btn {position:absolute; top:30px;right:30px;}
.guide_btn span {font-size:12px; color:#7c7c7c; padding-right:5px;}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 18px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #1360ff;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #1360ff;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }



/* exchange_1 */
.section#exchange_1{padding:40px 0 0}
#exchange_1 .sec_cont{}
#exchange_1 .sec_cont>ul {background:#e4e9f4;}
#exchange_1 .sec_cont>ul>li{width:100%;float:left;margin-bottom:10px;}
#exchange_1 .sec_cont>ul>li:last-child {margin-bottom:0;}
#exchange_1 .box_exchange .tit{font-size:13px;font-weight:700; display:inline-block}
#exchange_1 .box_exchange .tit span{display:inline-block;}
#exchange_1 .box_exchange .txt{font-size:13px; display:inline-block; margin-left:10px;}

/* exchange_2 */
.section#exchange_2{border-top:0}
#exchange_2 .sec_tit .list_txt{margin-top:18px}
#exchange_2 .tab_navi{margin-top:40px}
#exchange_2 .tab_con_l{width:54%;float:left;padding-right:40px; border-right:1px solid #d4d4d4; margin-right:1%;}
#exchange_2 .tab_con_l h4{font-size:22px;font-weight:700}
#exchange_2 .tab_con_l .desc{font-size:16px;padding:10px 0 20px;color:#888}
#exchange_2 .tab_con_l .desc span{color:#222}
#exchange_2 .tab_con_l .btn_wrap{margin-top:20px;text-align:right}
#exchange_2 .tab_con_r{width:41%;float:right;padding-left:30px}
#exchange_2 .tab_con_r .input_pin li{margin-top:8px}
#exchange_2 .tab_con_r .input_pin li:first-child{margin-top:0}
#exchange_2 .tab_con_r .input_pin .input_type1 input{padding-left:70px}
#exchange_2 .tab_con_r .btn_wrap{margin-top:20px;text-align:right}
#exchange_2 .tab_con_r .btn_wrap button{margin-left:8px}

#exchange_2 .form_bank .input_type1 input {margin-top:8px; padding:16px 20px;}
#exchange_2 .form_bank ul{margin:0 -5px}
#exchange_2 .form_bank li{width:100%;float:left;padding:0 5px}
/* #exchange_2 .form_bank .btn_wrap{margin-top:20px;text-align:right} */
#exchange_2 .form_bank .form_bank_save{text-align:right;margin-top:15px}
#exchange_2 .form_bank .form_bank_save .checksWrap_type1{display:inline-block}

/* info_pin */
.info_pin{padding:15px 15px 0;}
.info_pin h5{font-size:16px;font-weight:400;color:#222;margin-bottom:8px}
.info_pin h5 span{color:#0a4cd4;font-weight:700;letter-spacing:0}
.info_pin li{font-size:14px;line-height:1.5;color:#888;letter-spacing:-0.025em;margin-top:2px !important;margin-left:7px !important;text-indent:-7px;word-break:keep-all}
.info_pin button {margin-left:0;}
.info_pin button:hover {}


/* privacy */
.privacy_wrap {margin:0 auto; margin-top:15px; text-align:center;}



/* ——————————————————————————
 * realtime
/* —————————————————————————— */
.section#realtime_1{padding-top: 60px;}
.realtime_lst *{vertical-align:middle}
.realtime_lst ul.tbody{letter-spacing:0}
.realtime_lst ul li{cursor:pointer; width:100%;position:relative;display:table;table-layout:fixed;padding:15px 30px 10px 20px;border-radius:10px; margin:10px 0; background:#fff;}
.realtime_lst ul.thead {background:#e4e9f4; border-radius:10px;}
.realtime_lst ul.thead li{background:transparent;}
.realtime_lst ul li>div{display:table-cell;position:relative;text-align:center;font-size:16px}
.realtime_lst ul.thead li>div{font-weight:700; color:#333; font-size:13px;}
.realtime_lst .tbody .info_purchase{padding-left:0px}
.realtime_lst .tbody .info{padding-left:70px}
.realtime_lst .tbody .info span{display:inline-block}
.realtime_lst .tbody .info .voucher{position:absolute;top:50%;left:10px;margin-top:-22px}
.realtime_lst .tbody .info .voucher i{width:40px;height:40px;display:inline-block;-webkit-background-size:100% 100% !important;background-size:100% 100% !important}
.realtime_lst .tbody .info .voucher i.voucher_c{background:url("../img/ico_voucher_c.png") no-repeat}
.realtime_lst .tbody .info .voucher i.voucher_h{background:url("../img/ico_voucher_h.png") no-repeat}
.realtime_lst .tbody .info .voucher i.voucher_f{background:url("../img/ico_voucher_f.png") no-repeat}
.realtime_lst .tbody .info .voucher i.voucher_d{background:url("../img/ico_voucher_d.png") no-repeat}
.realtime_lst .tbody .info p{font-size:16px;line-height:26px;margin-top:-2px}
.realtime_lst .tbody .info .price{position:relative;font-weight:700;padding-left:10px;margin-left:10px}
.realtime_lst .tbody .info .price:before{content:'';width:1px;height:18px;position:absolute;left:0;top:50%;margin-top:-9px;background:#ddd}
.realtime_lst .tbody .info .price b{font-size:16px;vertical-align:baseline;display:inline-block;line-height:1.2}
.realtime_lst .tbody .info .date{font-size:16px;color:#888}
.realtime_lst .tbody .time_total span{display:inline-block;position:relative;font-weight:700}
.realtime_lst .tbody .time_total span.state{font-size:13px;line-height:25px;background:#888;color:#fff;padding:0 10px;border-radius:2px;margin-left:12px}
.realtime_lst .tbody .time_total span.state.comp{width:70px;text-align: center; border-radius:50px;}
.realtime_lst .tbody .time_total span.time{}
.realtime_lst .empty_list{font-size: 1.5rem; text-align: center; margin: 40px 0px;}
.realtime_lst .cursor_none{cursor: unset;}

/* 매입상품권 목록 */
.realtime_lst .info_purchase{width:auto}
.realtime_lst .tbody .info_purchase{border-right:1px solid #e4e4e4}
.realtime_lst .time_last_purchase,
.realtime_lst .time_start_purchase,
.realtime_lst .time_total_purchase{width:23%}
.realtime_lst .tbody .time_last_purchase{color:#4263eb}
.realtime_lst .tbody .time_total_purchase{color:#f03e3e}

/* ——————————————————————————
 * discount
/* —————————————————————————— */
/* discount_1 */
.section#discount_1{padding:40px 0 60px}
.section#discount_1 .sec_tit{display:none}
.section#discount_1 .sec_tit h3{margin-top:0;line-height:40px;font-size:30px}
.section#discount_1 .tab_container{position:relative;margin-top:10px}
.section#discount_1 .tab_container .voucher{position:absolute;right:0;top:0;margin-top:-60px}
.section#discount_1 .tab_container .voucher i{width:40px;height:40px;display:inline-block;-webkit-background-size:100% 100% !important;background-size:100% 100% !important}
.section#discount_1 .tab_container .voucher i.voucher_c{background:url("../img/ico_voucher_c.png") no-repeat}
.section#discount_1 .tab_container .voucher i.voucher_h{background:url("../img/ico_voucher_h.png") no-repeat}
.section#discount_1 .tab_container .voucher i.voucher_f{background:url("../img/ico_voucher_f.png") no-repeat}
.tbl_discount{border-top:2px solid #222}

/* discount_info */
.section#discount_info{border-top:0;background:#f9f9f9;padding:60px 0}
#discount_info .info_box{line-height:1.7;text-align:center}
#discount_info .info_box h4{font-size:22px}
#discount_info .info_box p{font-size:16px;color:#888}
#discount_info .info_box span{display:inline-block;font-size:14px;color:#bbb;letter-spacing:0;padding-top:10px}


/* ——————————————————————————
 * myExchange
/* —————————————————————————— */
/* myExchange_list */
.section#myExchange_list{padding:60px 0 100px}

/* myExchange_view */
.section#myExchange_view{padding:60px 0 100px}
#myExchange_view .sec_con{padding-top:15px}
#myExchange_view .sec_con .table_type1{border-top:2px solid #222}
#myExchange_view .sec_con .total_price{margin-top:20px}
#myExchange_view .sec_con .total_price dl{font-size:28px;text-align:right}
#myExchange_view .sec_con .total_price dt{display:inline-block;margin-right:30px;font-size:20px;vertical-align:middle}
#myExchange_view .sec_con .total_price dd{display:inline-block;position:relative;letter-spacing:0;font-weight:700;vertical-align:middle}
#myExchange_view .sec_con .total_price dd:before{content:'';height:5px;background:#ffdf00;position:absolute;bottom:5px;left:0;right:0;z-index:-1}
#myExchange_view .btn_wrap{text-align:center;margin:30px 0 0}
#myExchange_view .state{
    padding: 4px 10px;
    background: blueviolet;
    color: white;
    border-radius: 2px;
    font-weight: 500;
    font-size: 16px;
}


/* ——————————————————————————
 * faq
/* —————————————————————————— */
body.faq .section_wrap{padding:40px 0 80px}
body.faq .section_wrap .faq_admin{text-align:center;margin-top:30px}
body.faq .section_wrap .empty_list{text-align:center;font-size:20px;color:#999;border-bottom:1px solid #eee;padding:20px 0 80px}

#bo_cate {margin:15px 0 10px}
#bo_cate h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_cate ul {zoom:1}
#bo_cate ul:after {display:block;visibility:hidden;clear:both;content:""}
#bo_cate li {display:inline-block;}
#bo_cate a {display:block;border:1px solid #dadada;background:#fff;margin:0 0 5px 0;line-height:30px;padding:0 10px;border-radius:3px}
#bo_cate a:focus, #bo_cate a:hover, #bo_cate a:active {text-decoration:none;background:#f3f3f3}
#bo_cate #bo_cate_on {z-index:2;border:1px solid #253dbe;color:#253dbe;font-weight:bold}

#faq_sch {text-align:center;border:1px solid #ccc;background:#fff;;padding:30px;margin:10px 0}
#faq_sch form{display:inline-block;position:relative}
#faq_sch .sch_tit{font-size:20px;font-weight:bold;display:inline-block;margin-right:10px;vertical-align:middle}
#faq_sch .frm_input{border-color:#646982;border-radius:0;width:300px}
#faq_sch .btn_submit{padding:0 10px;height:40px;color:#000;font-size:1.083em;font-weight:bold;color:#fff;background:#253dbe;}


#main_faq .sec_tit {margin-bottom:12px;}


/* ——————————————————————————
 * notice
/* —————————————————————————— */
#bo_list{position:relative;padding:40px 0 100px}
#bo_list:after{display:block;visibility:hidden;clear:both;content:""}
#bo_list_total{font-size:16px;color:#999;margin-bottom:10px}


/* notice_view */
#bo_v{position:relative;padding:60px 0 80px}
#bo_v_table{position:absolute;top:0;right:16px;margin:0;padding:0 5px;height:25px;background:#ff3061;color:#fff;font-weight:bold;line-height:2.2em}

#bo_v_title{text-align:left}
#bo_v_title .bo_v_cate{display:inline-block;font-size:15px;line-height:30px;padding:0 10px;border-radius:8px;background:#222;color:#fff; margin-right:10px;}
#bo_v_title .bo_v_tit{margin:0 auto;display:inline-block;font-size:21px;line-height:1.35}

#bo_v_info{padding:0 0 20px 90px;margin:0 0 25px;text-align:left}
#bo_v_info:after {display:block;visibility:hidden;clear:both;content:""} 
#bo_v_info h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_info strong {display:inline-block;margin:0 10px 0 0;font-weight:normal}
#bo_v_info .sv_member,
#bo_v_info .sv_guest,
#bo_v_info .member,
#bo_v_info .guest {font-weight:bold}
#bo_v_info .profile_img {}
#bo_v_info .profile_img img{border-radius:50%}
#bo_v_info .sv_member{color:#000}
#bo_v_info .if_view{display:inline-block;background:url(./img/icon_view.png) no-repeat 50% 50%;height:15px;width:20px;overflow:hidden;text-indent:-999px;vertical-align:middle;margin-right:3px}
#bo_v_info .if_comment{display:inline-block;background:url(./img/icon_comment.png) no-repeat 50% 50%;height:15px;width:20px;overflow:hidden;text-indent:-999px;vertical-align:middle;margin-right:3px}
#bo_v_info .if_date{text-align:center;font-size:16px;letter-spacing:0;color:#999}

#bo_v_file {margin:10px 0;border:1px solid #d4d4d4}
#bo_v_file h2 {padding:10px;background: #f3f3f3}
#bo_v_file ul {margin:0;padding:5px 0;list-style:none}
#bo_v_file li {padding:5px 10px;position:relative;}
#bo_v_file a {display:inline-block;color:#3497d9;text-decoration:underline;word-wrap:break-word}
#bo_v_file a:focus, #bo_v_file a:hover, #bo_v_file a:active {text-decoration:none}
#bo_v_file img {float:left;margin:0 10px 0 0}
.bo_v_file_cnt  {position:absolute;top:5px;right:10px;color:#888;font-size:0.92em}

#bo_v_link {margin:10px 0;border:1px solid #d4d4d4}
#bo_v_link h2 {padding:10px;border-bottom:1px solid #e8e8e8;background: #f3f3f3}
#bo_v_link ul {margin:0;padding:5px 0;list-style:none}
#bo_v_link li {padding:5px 10px;position:relative;}
#bo_v_link a {display:inline-block;color:#3497d9;text-decoration:underline;word-wrap:break-word}
#bo_v_link a:focus, #bo_v_link a:hover, #bo_v_link a:active {text-decoration:none}
.bo_v_link_cnt {position:absolute;top:5px;right:10px;color:#888;font-size:0.92em}

#bo_v_top {zoom:1}
#bo_v_top:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_top h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_top ul {padding:0;list-style:none;word-break:break-all}

#bo_v_bot {zoom:1}
#bo_v_bot:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_bot h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_bot ul {padding:0;list-style:none}

.bo_v_com {
    margin-top: 30px;
    text-align: center;
}
.bo_v_com a {background:#fff;border-radius:20px; color:#0061e1;}
.bo_v_com li {}

.bo_v_right {margin-bottom:20px;float:right}
.bo_v_right li {float:left;margin-left:5px}

.bo_v_nb{margin:20px 0;position:relative;clear:both;text-align:left;border-bottom:2px solid #e6e6e6}
.bo_v_nb:after{display:block;visibility:hidden;clear:both;content:""}
.bo_v_nb li{border-top:2px solid #e6e6e6;padding:20px 0;font-size:15px}
.bo_v_nb li a{display:inline-block;position:relative}
/* .bo_v_nb li a:hover:before{content:'';height:4px;background:#ffdf00;position:absolute;bottom:4px;left:0;right:0;z-index:1} */
.bo_v_nb li a span{position:relative;z-index:2}
.bo_v_nb li .nb_tit{width:90px;display:inline-block;color:#999}
.bo_v_nb li .nb_date{float:right;color:#999;letter-spacing:0}

#bo_v_atc {min-height:200px;height:auto !important;height:200px}
#bo_v_atc_title {position:absolute;font-size:0;line-height:0;overflow:hidden}

#bo_v_img {width:100%;overflow:hidden;zoom:1}
#bo_v_img:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_img a.view_image{display:block}
#bo_v_img img {margin-bottom:20px;max-width:100%;height:auto}

#bo_v_con {margin:10px 0 30px;width:100%;font-size:17px;line-height:1.7em;min-height:200px;word-break:break-all;overflow:hidden}
#bo_v_con a {color:#000;text-decoration:underline}
#bo_v_con img {max-width:100%;height:auto}

#bo_v_act {margin-bottom:30px;text-align:center}
#bo_v_act .bo_v_act_gng {position:relative}
#bo_v_act a {margin-right:5px;vertical-align:middle}
#bo_v_act a:hover{background-color:#f3f3f3}
#bo_v_act_good, #bo_v_act_nogood {display:none;position:absolute;top:30px;left:0;padding:10px 0;width:165px;background:#ff3061;color:#fff;text-align:center}
#bo_v_act .bo_v_good{display:inline-block;border:1px solid #000;width:70px;height:70px;padding-top:40px;background:url(./img/icon_good.png) 25px 18px no-repeat;border-radius:50%;font-style:italic}
#bo_v_act .bo_v_nogood{display:inline-block;border:1px solid #000;width:70px;height:70px;padding-top:40px;background:url(./img/icon_bad.png) 25px 18px no-repeat;border-radius:50%;font-style:italic}

#bo_v_share{position:relative;margin:20px 0;text-align:right}
#bo_v_share .btn{padding:0 10px 0 0;color:#555;font-weight:normal;font-size:1em ;line-height:30px;height:32px;border-radius:0;border-color:#d5d5d5}
#bo_v_share .btn:hover{background:#fff}
#bo_v_share .btn i{margin-right:5px;background:#eee;color:#333;text-align:center;width:30px;line-height:30px;vertical-align:top;}
#bo_v_share .btn_share{}
#bo_v_share .btn_share:hover{}

.bo_v_snswr{position:relative;display:inline-block;margin-left:-1px}
#bo_v_sns {display:none;position:absolute;top:-50px;left:50%;margin-left:-90px;width:180px;padding:0;list-style:none;zoom:1}
#bo_v_sns:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_sns:before{content: "";position: absolute;bottom: -7px;left: 84px;width: 0;height: 0;border-style: solid;border-width: 7px 6px 0 6px;border-color: #415b92 transparent transparent transparent;}
#bo_v_sns li {float:left;width:60px;text-align:center}
#bo_v_sns li a{height:40px;padding:10px 0;}
#bo_v_sns li .sns_f{display:block;background:#415b92}
#bo_v_sns li .sns_t{display:block;background:#35b3dc}
#bo_v_sns li .sns_g{display:block;background:#d5503a}
#bo_v_sns.show_kakao{width:240px;margin-left:-120px}
#bo_v_sns li .sns_k{display:block;background:#fbe300}
#bo_v_sns li img{vertical-align:top}

/* 게시판 댓글 */
.cmt_btn{background:url('./img/cmt_btn.png') no-repeat 85px 8px;text-align:left ;width:100% ;border:0;color:#ed6478;font-weight:bold;font-size:1.25em;margin: 30px 0 0px;padding:0  0 10px }
.cmt_btn_op{background:url('./img/cmt_btn.png') no-repeat 85px  -23px}
#bo_vc {}
#bo_vc h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_vc article {margin:20px 0;position:relative}
#bo_vc article .profile_img img{border-radius:50%}
#bo_vc header {}
#bo_vc header:after {display:block;visibility:hidden;clear:both;content:""}
#bo_vc header .icon_reply {position:absolute;top:15px;left:-20px}
#bo_vc .member, #bo_vc .guest, #bo_vc .sv_member, #bo_vc .sv_guest {font-weight:bold}
.bo_vc_hdinfo{float:right;font-style:italic;color:#777}
#bo_vc h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_vc .cmt_contents {padding:15px  ;margin:10px 0 0;background: #f8fafb;border-radius:5px;border: 1px solid #e8e8e8;line-height:1.8em}
#bo_vc p a {text-decoration:underline}
#bo_vc p a.s_cmt {text-decoration:underline;color:#ed6479}
#bo_vc_empty {margin:0;padding:80px 0 !important;color:#777;text-align:center}
#bo_vc #bo_vc_winfo {float:left}

.bo_vc_act {text-align:right;margin:0;list-style:none;zoom:1}
.bo_vc_act:after {display:block;visibility:hidden;clear:both;content:""}
.bo_vc_act li {display:inline-block;}
.bo_vc_act li a{padding:0 5px;line-height:23px}

.bo_vc_w {position:relative;margin:10px 0;display:block;}
.bo_vc_w:after {display:block;visibility:hidden;clear:both;content:""}
.bo_vc_w h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.bo_vc_w #char_cnt {display:block;margin:0 0 5px}
.bo_vc_w textarea{border:1px solid #ccc;background:#fff;color:#000;vertical-align:middle;border-radius:3px;padding:5px;width:100%;height:120px;
-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);}
#wr_secret{}
.bo_vc_w_info{margin:10px 0;float:left}
.bo_vc_w_info:after {display:block;visibility:hidden;clear:both;content:""}
.bo_vc_w_info .frm_input{float:left;margin-right:5px}
.bo_vc_w_info #captcha{padding-top:10px;display:block;clear:both}
.bo_vc_w .btn_confirm{float:right;margin-top:10px}
.bo_vc_w .btn_confirm label{display:inline-block;margin-right:10px;border-radius:3px;font-size:1.5em;text-align:center;}
.bo_vc_w .btn_submit{height:45px;padding:0 20px;border-radius:3px;font-weight:bold;font-size:1.083em;}
.bo_vc_w_wr:after {display:block;visibility:hidden;clear:both;content:""}

#bo_vc_send_sns{display:inline-block;float:left}
#bo_vc_sns {display:inline-block;margin:0;padding:0;list-style:none;zoom:1}
#bo_vc_sns:after {display:block;visibility:hidden;clear:both;content:""}
#bo_vc_sns li {float:left;margin:0 5px 0 0}
#bo_vc_sns .sns_li_f{border-radius:3px;background:#3a589b;height:40px;line-height:40px;padding:0 0 0 10px}
#bo_vc_sns .sns_li_t{border-radius:3px;background:#00aced;height:40px;line-height:40px;padding:0 0 0 10px}
#bo_vc_sns .sns_li_off{background:#bbb}
#bo_vc_sns a{display:inline-block;padding:0 15px 0 5px;}
#bo_vc_sns input {margin:0 5px 0 0 }


/* ——————————————————————————
 * bn_app_download
/* —————————————————————————— */
.bn_app_download{position:relative;margin-top:0; margin-bottom:20px; border-radius:20px; overflow:hidden;}
.bn_app_download>a{position:absolute;top:0;left:0;bottom:0;right:0;z-index:2}
.bn_app_download .img{}
.bn_app_download .img img{width:100%;height:auto}
.bn_app_download .txt{color:#000;position:absolute;top:50%;left:70px;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);z-index:1}
.bn_app_download .txt p{font-size:15px;margin-bottom:3px}
.bn_app_download .txt h3{font-size:30px;letter-spacing:-0.05em}
.bn_app_download .txt h3 em{font-weight:700}
.bn_app_download .txt span{display:block;margin-top:16px}
.bn_app_download .txt span img{width:auto;height:40px}

/* bn_app_download_m */
.bn_app_download_m{position:relative;border:1px solid #eee;margin-top:16px}
.androidMobile .bn_app_download_m{display:block}
.bn_app_download_m .img img{width:100%;height:auto}
.bn_app_download_m a{position:absolute;top:0;left:0;right:0;bottom:0;z-index:10}

/* ly_appdown */
.ly_appdown{position:fixed;top:0;left:0;right:0;bottom:0;z-index:99999999;display:none}
.iPhoneMobile .ly_appdown, .useApp .ly_appdown{display:none !important}
.ly_appdown .ly_overlay{position:fixed;top:0;left:0;bottom:0;right:0;background:rgba(0,0,0,0.6);z-index:1}
.ly_appdown .ly_inner{position:fixed;left:0;right:0;bottom:0;z-index:2;background:#fff;padding:0 20px}
.ly_appdown .ly_inner .ly_tit{position:relative;padding:20px 0;border-bottom:1px solid #eee;line-height:30px}
.ly_appdown .ly_inner .ly_tit h3{font-size:20px;font-weight:500}
.ly_appdown .ly_inner .ly_tit .ly_close{width:40px;height:40px;background:url("../img/ico_x.png") no-repeat center center;background-size:15px auto;position:absolute;top:50%;right:0;margin-top:-20px}
.ly_appdown .ly_inner .ly_cont{position:relative;padding:22px 0 32px 86px}
.ly_appdown .ly_inner .ly_cont i{position:absolute;left:0}
.ly_appdown .ly_inner .ly_cont i img{width:66px;height:auto}
.ly_appdown .ly_inner .ly_cont p{font-size:14px;color:#868e96}
.ly_appdown .ly_inner .ly_cont .btn{height:42px !important;line-height:40px !important;font-size:14px;min-width:auto;margin-top:12px}
.ly_appdown .ly_inner .ly_cont .btn:after{content:'';width:14px;height:14px;margin-left:10px;display:inline-block;vertical-align:middle;background-image:url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='14px' height='13px' viewBox='0 0 10 9' style='overflow:visible;enable-background:new 0 0 10 9;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:%23FFFFFF;%7d %3c/style%3e%3cdefs%3e%3c/defs%3e%3cg%3e%3cpath class='st0' d='M9,4.68V7.5C9,7.78,8.78,8,8.5,8h-7C1.22,8,1,7.78,1,7.5V4.68H0V7.5C0,8.33,0.67,9,1.5,9h7 C9.33,9,10,8.33,10,7.5V4.68H9z'/%3e%3cpolygon class='st0' points='5,6.04 7.43,3.6 5.5,3.6 5.5,0 4.5,0 4.5,3.6 2.57,3.6 '/%3e%3c/g%3e%3c/svg%3e");background-repeat:no-repeat;background-size:14px auto}

